/* src/components/FolderSwiper.css */
.folder-swiper {
    width: 100%;
    max-width: 420px;
    height: auto;
    min-height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    perspective: 1000px;
    margin: 5% 0;
}

/* 카드 영역 */
.folder-swiper-inner {
    width: 100%;
    min-height: 400px;
    /* 카드 높이 기준 */
    position: relative;
}

/* 공통 카드 스타일 */
.folder-card {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    /* border: 1px solid #fff; */
    border-radius: 16px;
    background: #000000;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;

    will-change: transform, opacity;
    transform-origin: bottom center;
    user-select: none;
}

.folder-card::before{
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid #fff;
    border-radius: 20px;
    pointer-events: none;
    backface-visibility: hidden;
    transform: translateZ(0);
}

.folder-card:hover::before {
    border: 1px solid #4EF2FF;
    box-shadow: 0 0 20px rgba(0,255,255,0.4);
}

/* 맨 뒤 카드 */
.folder-card-back {
    z-index: 1;
    transform: scale(0.75) translateY(20px);
    opacity: 0.6;
    background: #333;
}

/* 중간 카드 */
.folder-card-mid {
    z-index: 2;
    transform: scale(0.8) translateY(10px);
    opacity: 0.8;
    background: #2a2a2a;
}

/* 맨 앞 카드 기본 옵션 (크기는 JS transform에서 맞춤) */
.folder-card-top {
    z-index: 3;
    background-position: center;
    background-size: cover;
    height: 100%;
    perspective: 1200px;
    /* 3D 느낌 */
}

/* 플립 공통 */
.card-flip-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

/* 플립됐을 때 */
.folder-card-top.is-flipped .card-flip-inner {
    transform: rotateY(180deg);
}

/* 앞/뒷면 공통 */
.card-face {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
}

/* 뒷면 */
.card-face-back {
    transform: rotateY(180deg);
    background: #050816;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    padding: 16px;
    border-radius: 16px;
    background-position: center;
    background-size: cover;
}

.card-face-back .back-inner {
    text-align: center;
    font-family: ui-monospace, SFMono-Regular, Menlo, monospace;
}

/* 안내 텍스트 */
.folder-swiper-info {
    margin-top: 12px;
    margin-bottom: 0;
}

.folder-swiper-info p {
    font-size: 12px;
    color: #cbd5f5;
    user-select: none;
}

/* 돌아올 때 Zoom-Out */
.zoom-out-restore {
    animation: zoomOutRestore 0.4s ease-out forwards;
}

@keyframes zoomOutRestore {
    0% {
        transform: scale(1) translateY(20px) rotateZ(-5deg);
        opacity: 1;
    }

    50% {
        transform: scale(0.8) translateY(10px) rotateZ(-5deg);
    }

    100% {
        transform: scale(0.9) translateY(20px) rotateZ(-5deg);
        opacity: 1;
    }
}


