/* src/components/FolderSwiper.css */
.folder-swiper {
    width: 100%;
    height: 400px;
    /* 컨테이너 높이 */
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    perspective: 1000px;
    margin: 5% 0;
    /* 날아가는 카드가 화면 밖에서 안 보이게 */
}

.folder-swiper-inner {
    width: 350px;
    /* 카드 너비 */
    height: 90%;
    position: relative;
}

.folder-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: #1e1e1e;
    /* 기본 배경색 */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);

    /* 카드 정렬 */
    display: flex;
    flex-direction: column;

    /* 중요: 애니메이션 성능 최적화 */
    will-change: transform, opacity;
    transform-origin: bottom center;

    user-select: none;
    
}

/* 맨 뒤 카드 */
.folder-card-back {
    z-index: 1;
    transform: scale(0.9) translateY(20px);
    opacity: 0.6;
    background: #333;
    /* 뒤쪽 카드 구분감 */
}

/* 중간 1 카드 */
.folder-card-mid {
    z-index: 2;
    transform: scale(0.95) translateY(10px);
    opacity: 0.8;
    background: #2a2a2a;
}

/* 중간 2 카드 */
.folder-card-mid {
    z-index: 2;
    transform: scale(0.93) translateY(10px);
    opacity: 0.8;
    background: #2a2a2a;
}

/* 맨 앞 카드 */
.folder-card-top {
    z-index: 3;
    /* transform은 JS에서 제어 */
    /* background: #2a2a2a; */
    background-position: center;
    background-size: cover;
    height: 100%;
}

.folder-card-top {
    perspective: 1200px;
    /* 3D 느낌 */
}

.card-flip-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

/* 플립됐을 때 */
.folder-card-top.is-flipped .card-flip-inner {
    transform: rotateY(180deg);
}

/* 앞/뒷면 공통 */
.card-face {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
}

/* 뒷면 */
.card-face-back {
    transform: rotateY(180deg);
    background: #050816;
    /* color: #fff; */
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    padding: 16px;
    border-radius: 16px;
    background-position: center;
    background-size: cover;
}

.card-face-back .back-inner {
    text-align: center;
    font-family: ui-monospace, SFMono-Regular, Menlo, monospace;
}

.folder-swiper-info{
    margin-bottom: 30px;
}

p{
    user-select: none;
}