/* Google Font 픽셀 느낌 */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

:root {
  color-scheme: dark;
}

body {
  @apply bg-black text-white;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  }

/* 배경 그리드 + 네온 프레임 느낌 */
.app-bg {
  @apply min-h-screen relative overflow-hidden;
  min-height: 100vh;
  background: url(img/back.jpg) center/cover no-repeat;
}

.app-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  background-size: 24px 24px;
  opacity: 0.4;
  pointer-events: none;
}

.app-bg::after {
  /* 네온 그라데이션 블러 */
  content: "";
  position: absolute;
  inset: -20%;
  opacity: 0.65;
  filter: blur(10px);
  pointer-events: none;
}

/* 안쪽 메인 박스 네온 프레임 */
.neon-shell {
  position: relative;
  isolation: isolate; /* ::before(-1) 안정화 */
  border-radius: 1.25rem;
  height: 98vh;

  /* 그라데이션 보더 핵심: background 2겹 */
  border: 2px solid transparent;
  background: rgba(0, 0, 0, 0.4);

  /* 네온 글로우 */
  box-shadow:
  -5px 0 30px rgba(255, 255, 255, 0.1),
  0 0 40px rgba(255, 255, 255, 0.1),
  0 0 26px rgba(255, 255, 255, 0.1),
  5px 0px 30px rgba(255, 255, 255, 0.1);
  transition: 0.3s all ease-in-out;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.neon-shell::-webkit-scrollbar {
  width: 10px;
}

.neon-shell::-webkit-scrollbar-track {
  background: transparent;
  margin: 10px; /* 위아래 여백 → radius랑 궁합 좋음 */
}


.neon-shell::-webkit-scrollbar-thumb{
  border-radius: 999px; /* ← 핵심 */
  background: rgba(185, 72, 255, 0.8);
  box-shadow:
    0 0 10px rgba(255, 72, 205, 0.6),
    0 0 16px rgba(105, 230, 246, 0.4);
}

.neon-shell:hover{
  box-shadow:
  -10px 0 30px rgba(255, 0, 0, 0.35),
  0 0 40px rgba(105, 230, 246, 0.18),
  0 0 26px rgba(255, 72, 205, 0.20),
  20px 0px 30px rgba(0, 10, 255, 0.5);
  transition: 0.3s all ease-in-out;
  border-top: 3px solid rgba(255, 72, 205, 0.8);
  border-left: 3px solid rgba(255, 0, 0, 0.8);
  border-right: 3px solid rgba(0, 0, 255, 0.8);
  border-bottom: 3px solid rgba(255, 72, 205, 0.8);

}


/* 섹션 구분용 얇은 HUD 선 */
.section-divider {
  border-top: 1px solid rgba(148, 163, 184, 0.35);
  box-shadow: 0 -1px 0 rgba(15, 23, 42, 0.9);
}

/* 작은 네온 점 */
.neon-dot {
  width: 6px;
  height: 6px;
  border-radius: 999px;
  box-shadow: 0 0 12px rgba(78, 242, 255, 0.8);
  background: #4ef2ff;
}